/* //////////// -------- SPOT EV TEST CSS -------------///////////// */


@font-face {
  font-family: "Circular Medium";
  src: url(CircularStd-Medium.otf);
}

@font-face {
  font-family: "Circular Light";
  src: url(CircularStd-Book.otf);
}

* {
  font-family: "Circular Medium", "Palanquin", sans-serif;
}


/* ----------MOBILE FIRST STYLE --------------- */

/* --------Nav & BANNER -------- */

.nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.nav-title {
  margin: 0;
  font-size: 5.3vw;
}

.nav-text-search {
  display: none;
}

.banner {
  background-image: url(images/image.jpg);
  height: 32vh;
  background-size: cover;
  background-position: center;
}

/* ---------- MAIN BODY ------------ */
.main {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading-primary {
  margin-top: 7vh;
  margin-bottom: 8vh;
  font-size: 7vw;
  padding-left: 5vw;
}
.text-nowrap {
  white-space: nowrap;
}

.info {
  padding-left: 5vw;
  position: relative;
  top: 100%;
  transform: translateY(-90%);
}
.info-author {
  margin-bottom: 16px;
  font-size: 2vh;
}

/* ---------- FOOTER -------------- */

.social {
  color: #bdbdbd;
}

.footer-nav {
  color: black;
  float: right;
  font-size: 4.2vw;
  display: flex;
  justify-content: right;
  margin-bottom: 4vh;
  margin-right: 4vh;
}

.footer-text {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 60px;
  font-family: "Circular Light";
  font-size: 3vw;
}

/* ---------BUTTONS & ICONS --------*/

.icon {
  cursor: pointer;
}

.material-icons.md-18 {
  font-size: 3vh;
}
.nav-icon-menu {
  text-align: start;
  margin-left: 3vw;
}
.nav-icon-search {
  text-align: end;
  cursor: pointer;
  margin-right: 5vw;
}
#icon-menu-large {
  display: none;
}

.btn-orange {
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  background-color: #ff6b09;
  position: relative;
  top: -4vh;
  left: -10vw;
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 0.75vh solid transparent;
  border-bottom: 0.75vh solid transparent;
  border-left: 1.2vh solid white;
  position: relative;
  top: 2.6vh;
  left: 3.3vh;
  cursor: pointer;
}
.btn-grey {
  height: 4.5vh;
  width: 10vh;
  border: 1px solid #bdbdbd;
  border-radius: 25px;
  color: grey;
  display: inline-block;
  text-align: center;
  line-height: 4.5vh;
  white-space: nowrap;
    
  cursor: pointer;
  font-size: 3vw;
  font-family: "Circular Light";
}

.footer-icon-arrow {
  transform: scaleX(-1);
  margin-left: 2vw;
}
.footer-icons {
  padding-left: 5vw;
  color: #bdbdbd;
  vertical-align: middle;
  padding-right: 10px;
}
/* -------------MEDIA QUERIES FOR TABLETS  ---------------- */

@media only screen and (min-width: 768px) {

  /* ---------main-------- */

  .heading-primary {
    font-size: 4.5vh;
  }

  .footer-text {
    font-size: 2.5vw;
  }
  .footer-nav {
    font-size: 3.2vw;
  }
 

  /* ---------Buttons & Icons-------- */

  .btn-grey {
    font-size: 2.3vw;
    margin-left: 2vw;
  }
  .footer-icon-arrow {
    margin-top: 1vh;
  }
  .material-icons.md-24 {
    font-size: 24px;
  }
}

/* -------------MEDIA QUERIES SMALL DESKTOPS ---------------- */

@media only screen and (min-width: 992px) {

  /* -----------banner & nav ---------- */

  .main {
    height: 95vh;
  }
  .header {
    position: relative;
    top: 30vh;
  }
  .heading-primary {
    font-size: 4.5vh;
  }
  .nav {
    position: absolute;
    width: 50vw;
    justify-content: flex-start;
  }
  .nav-text-search {
    font-family: "Circular Light";
    display: inline;
    font-size: 1.2vw;
    margin-left: 1vw;
    position: relative;
    bottom: 0.3vh;
  }
  .nav-title {
    position: relative;
    font-size: 2vw;
    text-align: end;
  }
  .banner {
    height: 100vh;
  }

  /* ---------main body & footer ---------- */

  .heading-primary {
    font-size: 4.5vh;
  }

  .info {
    padding-left: 5vw;
    position: relative;
    top: 15vh;
  }
  .footer-nav {
    position: relative;
    top: 6vh;
    left: -25vw;
    font-size: 1.5vw;
  }

  .footer-text {
    position: relative;
    top: 6vh;
    left: 15vw;
    font-size: 1.2vw;
  }


  /* --------buttons & icons ----------- */

  #icon-menu-large {
    display: block;
  }
  #icon-menu-small {
    display: none;
  }

  .btn-grey {
    position: relative;
    top: -8vh;
    left: 30vw;
  }

  .footer-icon {
    color: #8d8d8d;
  }

  .btn-orange {
    position: relative;
    transform: translate(-30vw, 40vh);
  }

  .nav-icon-search {
    color: #8d8d8d;
    text-align: start;
    position: relative;
    left: -5vw;
  }
  .nav-icon-menu {
    margin-left: 0vw;
  }
  .btn-grey {
    top: -7vh;
    left: 29vw;
    font-size: 1vw;
  }
  .btn-orange {
    transform: translate(-27vw, 40vh);
  }
  .footer-icon-arrow {
    margin-top: 0vh;
  }
}

/* -------------MEDIA QUERIES FOR LARGE DESKTOPS  ---------------- */

@media only screen and (min-width: 1200px) {

  /* --------nav, main body, footer--------- */

  .nav-title {
    font-size: 1.5vw;
  }

  .heading-primary {
    font-size: 2.5vw;
    padding-left: 8vw;
  }
  .author {
    margin-top: 8vh;
  }
  .info-author {
    padding-left: 8vw;
    top: 7vh;
    font-size: 2vh;
  }
  .footer-nav {
    top: 6vh;
    left: -26vw;
    font-size: 1.2vw;
  }
  .footer-text {
    top: 6.5vh;
    left: 20vw;
    color: #8d8d8d;
    font-size: 1.2vw;
  }

  /* --------buttons & icons-------- */

  .btn-orange {
    transform: translate(-25vw, 40vh);
  }
  .btn-grey {
    top: -15vh;
  }


}
